@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

.text-blink {
  animation-name: blink;
  animation-duration: 8s;
  animation-iteration-count: 3;
}
@keyframes blink {
  0% {
    color: black;
  }
  10% {
    color: yellow;
  }
  20% {
    color: black;
  }
  30% {
    color: yellow;
  }
  40% {
    color: black;
  }
  50% {
    color: yellow;
  }
  60% {
    color: black;
  }
  70% {
    color: yellow;
  }
  80% {
    color: black;
  }
  90% {
    color: yellow;
  }
  100% {
    color: yellow;
  }
}

.wrapper {
  position: relative;
}
.display {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.1rem;
  position: absolute;
  width: 100%;
  top: 510px;
  left: 0;
  color: yellow;
  display: grid;
  text-align: center;
  z-index: 1;
  height: 50px;
}

.replay {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.1rem;
  position: absolute;
  width: 100%;
  top: 655px;
  left: 0;
  color: yellow;
  display: grid;
  text-align: center;
  z-index: 1;
  height: 50px;
}

.hidden {
  display: none;
}

.container {
  margin: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}
#game-board {
  background-color: black;
  position: relative;
  width: 800px;
  height: 800px;
  margin: auto;
  background-image: url('./images/gameboard.png');
  display: flex;

  align-items: center;
  justify-content: center;
}

.cell {
  margin: 6px;
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
}

.cell.open {
  width: 50px;
  height: 50px;
}

.cell.pacman {
  width: 50px;
  height: 50px;
  background-image: url('./images/pacman_sprite.png');
}

.cell.ghost {
  width: 50px;
  height: 50px;
  background-image: url('./images/ghost_sprite.png');
}
.cell.open:hover {
  background-color: rgb(0, 0, 255, 0.4);
  box-shadow: 0 0 1px 1px white inset;
  border-radius: 3px;
}
